<table>
  <thead>
    <tr>
      <th scope="col">Prescription Id</th>           
      <th scope="col">Prescription</th>
    </tr>
  </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{user.id}}</td>
              <td >{{user.prescribe}}</td>  
              <td >{{user.appointment}}</td> 
            </tr>
          {% endfor%}               
        </tbody>
        </table>
          